<div class="table-atrasos">
    <div class="table-title">
        <h4 class="h4">Atrasos</h4>
    </div>
    <div class="funcionario-marc-grid">
        <label for="funcionarios">Funcionario</label>
        <select id="funcionarios" name="funcionarios" class="select2 custom-select" data-live-search="true">
            <option value="">Todos</option>
            {{#each dados.funcionarios}}
             <option value="{{nome}}">{{nome}}</option>
            {{/each}}
        </select>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data</th>
                <th scope="col">Horário Inicio</th>
                <th scope="col">Horário Fim</th>
                <th scope="col">Atraso</th>
            </tr>
        </thead>
        <tbody id="tab-atrasos-body">
            {{#each dados.registros}}
            <tr class="dados" data-funcionario="{{funcionario-nome}}">
                <td>{{funcionario-nome-atraso}}</td>
                <td>{{data-marcacao-atraso}}</td>
                <td>{{horario-inicio-atraso}}</td>
                <td>{{horario-fim-atraso}}</td>
                <td>{{atraso}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script src="/assets/js/templates.js"></script>
<script src="/assets/js/templates-select2.js"></script>
<script src="/assets/js/paginacao.js"></script>