<div class="table-marc">
    <div class="table-title">
        <h4 class="h4">Marcações</h4>
        <button id="addMarcacaoButton" class="btn btn-info modalButton add-marc" data-toggle="modal"
            data-target="#formMarcacaoModal">Adicionar</button>
    </div>
    <div class="funcionario-marc-grid">
        <label for="funcionarios">Funcionario</label>
        <select id="funcionarios" name="funcionarios" class="select2 custom-select" data-live-search="true">
            <option value="">Todos</option>
            {{#each dados.funcionarios}}
             <option value="{{nome}}">{{nome}}</option>
            {{/each}}
        </select>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data</th>
                <th scope="col">Horário Inicio</th>
                <th scope="col">Horário Fim</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody id="tab-marc-body">
            {{#each dados.registros}}
            <tr class="dados" data-funcionario="{{funcionario-nome}}">
                <td>{{funcionario-nome}}</td>
                <td>{{data-marcacao}}</td>
                <td>{{horario_inicio_marcacao}}</td>
                <td>{{horario_fim_marcacao}}</td>
                <td>
                    <a data-id="{{@index}}" class="modalButton edit-marc" href="#" data-target="#formMarcacaoModal"><span class="material-icons edit">edit</span></a>
                    <a data-id="{{@index}}" class="modalButton del-marc" href="#" data-target="#exclusaoModal"><span class="material-icons delete">delete</span></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script src="/assets/js/templates.js"></script>
<script src="/assets/js/templates-select2.js"></script>
<script src="/assets/js/paginacao.js"></script>